* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ITC Officina Sans Std Book";
}

body {
    background: #f5f5f5 !important;
 
}
body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-thumb {
  background-color:rgb(155, 148, 148);
  border-radius: 5px;
  border: none;
}

.tab-content::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
    background-color:white;
    border-radius: 5px;
}
.tab-content::-webkit-scrollbar-thumb {
  background-color:rgb(155, 148, 148);
  border-radius: 5px;
  border: none;
}
input[type=checkbox],
a {
    cursor: pointer;
}


/*--------------------------navbar------------------------------------------*/

.navbar-brand {
    font-size: 20px;
    margin-top: 5px!important;
    margin-bottom: -10px!important
}

.navbar-brand p {
    font-size: 14px;
    margin-top: -10px;
}

.nav-item a,
.navbar-brand {
    color: black !important;
}

.nav-link {
    font-weight: bold!important
}

.btn.btn-search {
    background: #2ECAB6!important;
    border-radius: 0;
    color: white;
}

.login a:hover {
    text-decoration: underline;
}

.dropdown-toggle::after {
    content: none;
}

.fa-map-marker-alt {
   /* color: #2ecab6;*/
    font-size: 20px;
    margin-right: 5px;
}

.other {
    color: black;
}
.nav-item{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
i {
   margin-left: 8px;

}

/*-----------------------navbar end------------------------------------------->*/
/*left  cards*/
.card{
    margin: 10px;
}
.dv{
    display: flex;
    flex-direction: row;
}
.dvl, .dvr{
    display: flex;
    flex-direction: column;

}

/*right cards*/
.schedule{
    overflow-y: scroll;
    height: 350px;
}

/* post now border */

.speak-loud{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 50px;
    font-size: small;
    font-weight: bold;
}
.speak-loud:hover{
    background-color: #EBEBEB;
}

/* rounded card */
.card{
    border-radius: 10px;
    padding: 5px;
}
.card-header{
    background-color: #f5f5f5 !important;
}
.sharebtm{
    font-weight: bold;
}
.sharebtm:hover{
    text-decoration: none;
}
/* second card */
.name{
    font-size: large;
    font-weight: bold;
}
.schl{
    font-size: small;
    font-weight: 500;
    line-height: 1em;
}
/* see more */
#text{
    display: none;
}
/* card header bg remove */
.card{
    background-color: #f5f5f5 !important;
}